.App {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.AppSplit {
    width: 100%;
    height: calc(100% - 70px);
}

.AppRightSide {
    width: calc(100% - 440px);
    text-align: left;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}
